<%= form_for(@apply, url: apply_path, :html => {:class => "form-inline"}) do |f| %>

<h3>General Information</h3>
<div class="form-group">
  <label for="name">Child's Last Name</label>
  <%= f.text_field :lastname,  class:"form-control", placeholder: "Enter Name"%> </p>
</div>
<div class="form-group">
  <label for="name">First Name</label>
  <%= f.text_field :firstname, class:"form-control", placeholder: "Enter Name"%> </p>
</div>

<div class="form-group">
  <label for="hebname">Hebrew Name</label>
  <%= f.text_field :hebname, class:"form-control", placeholder: "Enter Name"%> </p>
</div>

<div class="form-group">
  <label for="DOB">Date of Birth</label>
  <%= f.date_select :DOB, class:"form-control" %> </p>
</div>

<div class="form-group">
  <label for="place_of_birth">Place of Birth</label>
  <%= f.text_field :place_of_birth, class:"form-control" %> </p>
</div>

<div class="form-group">
  <label for="age">Age</label>
  <%= f.number_field :age, class:"form-control" %> </p>
</div>

<div class="form-group">
  <label for="grade">Grade Completed</label>
  <%= f.text_field :grade, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="school">School</label>
  <%= f.text_field :school, class:"form-control"  %> </p>
</div>



<%= f.submit "Submit", class: "btn btn-default btn-primary"  %>

<% end %>