<%= form_for(@apply, url: apply_path, :html => {:class => "form-inline"}) do |f| %>

<h3>General Information</h3>
<div class="form-group">
  <label for="name">Child's Last Name</label>
  <%= f.text_field :lastname,  class:"form-control"%> </p>
</div>
<div class="form-group">
  <label for="name">First Name</label>
  <%= f.text_field :firstname, class:"form-control"%> </p>
</div>

<div class="form-group">
  <label for="hebname">Hebrew Name</label>
  <%= f.text_field :hebname, class:"form-control"%> </p>
</div>
<br />
<div class="form-group">
  <label for="DOB">Date of Birth</label>
  <%= f.date_select :DOB, class:"form-control", start_year: Date.today.year - 25 , end_year: Date.today.year - 2%> </p>
</div>

<div class="form-group">
  <label for="place_of_birth">Place of Birth</label>
  <%= f.text_field :place_of_birth, class:"form-control" %> </p>
</div>

<div class="form-group">
  <label for="age">Age</label>
  <%= f.number_field :age, class:"form-control" %> </p>
</div>

<br />

<div class="form-group">
  <label for="school">School</label>
  <%= f.text_field :school, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="grade">Grade Completed</label>
  <%= f.text_field :grade, class:"form-control"  %> </p>
</div>

<br>

<div class="form-group">
  <%= f.label :address%>
  <%= f.text_field :address, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <%= f.label :city%>
  <%= f.text_field :city, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <%= f.label :prov%>
  <%= f.text_field :prov, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <%= f.label :ZIP %>
  <%= f.text_field :ZIP, class:"form-control"  %> </p>
</div>

<br>

<div class="form-group">
  <label for="home_phone">Home Phone</label>
  <%= f.text_field :home_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="camper_cell">Camper Cell</label>
  <%= f.text_field :camper_cell, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="camper_email">Camper Email</label>
  <%= f.text_field :camper_email, class:"form-control"  %> </p>
</div>
<br>

<div class="form-group">
  <label for="emg_contact">Emergency Contact</label>
  <%= f.text_field :emg_contact, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="emg_contact_phone">Emergency Contact Phone</label>
  <%= f.text_field :emg_contact_phone, class:"form-control"  %> </p>
</div>

<h3>Medical Information</h3>

<div class="form-group">
  <label for="health_card">Health Card Number</label>
  <%= f.text_field :health_card, class:"form-control"  %> </p>
</div>

  <p>Is there any special information which is important to know?</p>
<div class="form-group">
  <label for="med_info">Medical:</label>
  <%= f.text_field :med_info, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="other_info">Other:</label>
  <%= f.text_field :other_info, class:"form-control"  %> </p>
</div>

<h3>References</h3>
<h5>(Principal, Teacher)</h5>
<div class = "grid-container">
<div id = "ref1">
<div class="form-group">
  <label for="ref1">Reference 1</label>
  <%= f.text_field :ref1, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="ref1_school_phone">School Phone</label>
  <%= f.text_field :ref1_school_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="ref1_phone">Home Phone</label>
  <%= f.text_field :ref1_phone, class:"form-control"  %> </p>
</div>
</div>

<div id="ref2">
<div class="form-group">
  <label for="ref2">Reference 2</label>
  <%= f.text_field :ref2, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="ref2_school_phone">School Phone</label>
  <%= f.text_field :ref2_school_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="ref2_phone">Home Phone</label>
  <%= f.text_field :ref2_phone, class:"form-control"  %> </p>
</div>
</div>
</div>

<h3>Family Information </h3><h5>(If single parent, please include applicable information and addresses) </h5>
<div class = "grid-container">
<div id = "father">
<div class="form-group">
  <%= f.label :father%>
  <%= f.text_field :father, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="d_martial_status">Marital Status</label>
  <%= f.text_field :d_marital_status, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="d_occupation">Occupation</label>
  <%= f.text_field :d_occupation, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="d_h_phone">Home Phone</label>
  <%= f.text_field :d_h_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="d_cell">Cell Phone</label>
  <%= f.text_field :d_cell, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="d_b_phone">Business Phone</label>
  <%= f.text_field :d_b_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="d_email">Email</label>
  <%= f.text_field :d_email, class:"form-control"  %> </p>
</div>
</div>
<div id="mother">
<div class="form-group">
  <%= f.label :mother%>
  <%= f.text_field :mother, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="m_martial_status">Marital Status</label>
  <%= f.text_field :m_marital_status, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="m_occupation">Occupation</label>
  <%= f.text_field :m_occupation, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="m_h_phone">Home Phone</label>
  <%= f.text_field :m_h_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="m_cell">Cell Phone</label>
  <%= f.text_field :m_cell, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="m_b_phone">Business Phone</label>
  <%= f.text_field :m_b_phone, class:"form-control"  %> </p>
</div>
<div class="form-group">
  <label for="m_email">Email</label>
  <%= f.text_field :m_email, class:"form-control"  %> </p>
</div>
</div>
</div>

<h3>Jewish Affiliation</h3>
<div class="form-group">
  <label for="synagogue">Synagogue</label>
  <%= f.text_field :school, class:"form-control"  %> </p>
</div>

<div class="form-group">
  <label for="rabbi">Rabbi</label>
  <%= f.text_field :rabbi, class:"form-control"  %> </p>
</div>

<br>
<div class="form-group">
  <label for="session"><h3>Session</h3></label>
  <%= f.text_field :session, class:"form-control"  %> </p>
</div>

<br>

<%= f.submit "Submit", class: "btn btn-default btn-primary"  %>

<% end %>