<%= form_for(@apply, url: apply_path) do |f| %>
<%# <%=form_tag do %> %>

<h3>General Information</h3>
  <div class="form-group">
    <label for="name">Child's Last Name</label>
    <%= f.text_field :lastname, class:"form-control", placeholder: "Enter Name"%> </p>
  </div>
    <label for="name">First Name</label>
    <%= f.text_field :firstname, class:"form-control", placeholder: "Enter Name"%> </p>
  </div>
  <label for="hebname">Hebrew Name</label>
    <%= f.text_field :hebname, class:"form-control", placeholder: "Enter Name"%> </p>
  </div>

  <div class="form-group">
    <label for="DOB">Date of Birth</label>
    <%= f.date_select :DOB, class:"form-control", placeholder: "Enter Email" %> </p>
  </div>

  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <%= f.telephone_field :phone_number, class:"form-control", placeholder: "Enter Phone Number" %> </p>
  </div>

  <div class="form-group">
    <label for="body">Message</label>
    <%= f.text_area :body, class:"form-control", placeholder: "Let us know what's on your mind!"  %> </p>
  </div>

    <%= f.submit "Submit", class: "btn btn-default btn-primary"  %>

<% end %>
