<h1>Become a Fundie!</h1>

<%= render partial: "form" %>

    <%= form_for(:fundraiser, :url => {:controller => 'fundraisers', :action => 'create'}) do |f| %>


        <p> First Name:</br> <%= f.text_field :fname %> </p>
        <p> Last Name:</br> <%= f.text_field :lname %> </p>
        <p> Username:</br> <%= f.text_field :username %> </p>
        <p> Country:</br> <%= f.country_select :country %> </p>

        <p> Email:</br> <%= f.text_field :email %> </p>

        <p> Password:</br> <%= f.password_field :password %></p>

        <p> Password confirm:</br> <%= f.password_field :password_confirmation %></p>


        <%= f.submit "Submit!" %>
      <% end %>



