<h1>Become a Fundie!</h1>

    <%= form_for(:fundraiser, :url => {:controller => 'fundraisers', :action => 'create'}) do |f| %>

        <p> Username:</br> <%= f.text_field :username%> </p>

        <p> Email:</br> <%= f.text_field :email%> </p>

        <p> Password:</br> <%= f.password_field :password %></p>


        <%= f.submit "Submit!" %>
      <% end %>


