<!DOCTYPE html>
<html>
  <head>
    <title>Ashreinu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="google-site-verification" content="7h7kUbUt0nOegrVDUtO5mllqbOwWBHYPmfEG3MP8Rv4" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</head>

  <body>    
  
      <% if current_user %>
        <div class = "text-right">
          Logged in as<%= link_to current_user.full_name, fundraiser_path(current_user)%> | 
          <%= link_to "Log Out", session_path("current"), method: "delete"%> 
        </div>

      <% else %>
      <div class = "text-right">
        <%= link_to "Log In", new_session_path, class: "text-left" %> |
        <%= link_to "Sign Up as a Fundraiser", new_fundraiser_path, class: "text-left" %>
      </div>

      <% end %>

      
    <nav class="navbar navbar-expand-md style="background-color: #e3f2fd; ">
      <ul class="nav  nav-full">
      <li class = "nav-item">
        <%= link_to image_tag("http://www.campashreinu.ca/wp-content/uploads/2014/01/logo.png"), root_path, class: "navbar-brand"%>
       </li>
        <li class = "nav-item">
          <a class="nav-link active" href="">Home</a>
        </li>

        <li class = "nav-item">
          <a class="nav-link" href="">About</a>
        </li>

        <li class = "nav-item">
          <a class="nav-link" href=<%= fundraisers_path%> >Fundraisers</a>
        </li>

        <li class = "nav-item">
          <a class="nav-link" href="">Sponser</a>
        </li>
      </ul>
    </nav>

    
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

    <div>
    <%= yield %>
    </div>


  </body>
</html>
