<!DOCTYPE html>
<html>
  <head>
    <title>Ashreinu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="7h7kUbUt0nOegrVDUtO5mllqbOwWBHYPmfEG3MP8Rv4" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('ashreinu_logo.jpg') %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

  <body>
  <div class = "background1" >

      <nav class="navbar navbar-default sticky-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="<%=root_path%>"><img src="http://www.campashreinu.ca/wp-content/uploads/2014/01/logo.png" alt="Ashreinu Logo"></a>

          <%if false%><%= image_tag("ashreinu_logo.jpg")%><%end%>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href=<%= about_path %>>About</a>
          </li>
  
          <li>
          <a href=<%= map_path %>>Where We Are</a>
        </li>
        <li>
          <a href="">News</a>
        </li>
        <li>
        <a href="<%= contact_path %>">Contact Us</a>
      </li>
     </ul>
     </div>
    </nav>

<% if controller_name == "home" %>
    <%= render partial: "slideshow"%>
<% end %> 

<div class = "margin" >
    <div class = "content">
    <%= yield %>
    </div>
</div>


<div class = "footer">

<p><b>CampAshreinu123@gmail.com | (647)-123-4567 </b></p>

<p>Sign up for our newsletter!</p>
<p class = "signiture"> Site Created by Yehudis Dick    </p>
</div>

</div>
</div>
  </body>
</html>
